/**
 * Resets and normalize
 */
html {
  box-sizing: border-box;
}

*, *:before, *:after, input {
  box-sizing: inherit;
}

body {
  font-family: "Fira Sans", "Open Sans", "Helvetica Neue", sans-serif;
  overflow: hidden;
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0;
  outline: 0;
  background-color: #ffffff;
  color: #333333;
}

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}

h1, h2, h3, h4, h5, h6, input, textarea {
  font-family: "Fira Sans Light", "Fira Sans", "Open Sans", "Helvetica Neue", sans-serif;
}

/**
 * Inline elements
 */
code {
  font-family: monospace;
  font-stretch: expanded;
  font-style: normal;
}

input[type="text"], button {
  height: 3rem;
  line-height: 1rem;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 0;
  background: #fefefe;
  color: #333333;
  border: 0.05rem solid #cccccc;
  transition: 0.5s ease-out;
  outline: none;
}

input[type="text"]:hover, button:hover {
  border: 0.05rem solid #a4a4a4;
  outline: none;
}

input[type="text"]:focus, button:focus {
  border: 0.05rem solid #333333;
  outline: none;
}

/**
 * Nav elements
 */
nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  overflow: hidden;
  width: 100vw;
  height: 3rem;
  position: absolute;
  left: 0;
  right: 0;
  padding: 0;
  background-color: #fefefe;
  color: #505050;
}

#topnav {
  top: 0;
  border-top: 0.2rem solid #2ecc71;
}

#bottomnav {
  bottom: 0;
}

#topnav > * {
  height: 3rem;
  font-size: 1.25rem;
  border: none;
  outline: none;
}

nav h1 {
  margin: 0;
  padding: 0;
  font-size: 1.25rem;
  flex-grow: 1;
  text-indent: 1rem;
  line-height: 3rem;
}

#topnav input[type="text"] {
  flex-grow: 1;
  border: none;
  outline: none;
  padding: 0;
  text-indent: 1rem;
  line-height: 3rem;
}

#topnav button {
  background: linear-gradient(#2ecc71, #27ae60);
  color: #ffffff;
}

#topnav-divider {
  width: 32px;
  background: url("../img/slant.svg") top left no-repeat;
}

nav #resetbtn {
  flex-grow: 1;
}

/**
 * Content area
 */
article {
  display: flex;
  flex-flow: column nowrap;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 0;
  transition: opacity 0.5s ease-in-out;
}

article.active-view {
  opacity: 1;
  z-index: 1;
}

.has-topnav article {
  top: 3rem;
  height: calc(100vh - 3rem);
}

.has-bottomnav article {
  bottom: 3rem;
  height: calc(100vh - 3rem);
}

.has-topnav.has-bottomnav article {
  top: 3rem;
  bottom: 3rem;
  height: calc(100vh - 6rem);
}

section {
  flex: 1 0 0%;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0.5rem;
}

/**
 * Form elements
 */
form {
  width: 100%;
}

.form-large {
  text-align: center;
}

.form-large input[type="text"],
.form-large button {
  height: 4rem;
  line-height: 1.5rem;
  font-size: 1.5rem;
  padding: 1rem;
  display: inline-block;
}

.form-large input[type="text"] {
  width: 70vw;
}

.form-large button {
  width: 20vw;
  margin-left: -0.4rem;
}
