input.switch:empty {
    margin-left: -999px;
}

input.switch:empty ~ label {
    position: relative;
    float: left;
    line-height: 1.6em;
    text-indent: 4em;
    margin: 0.2em 0;
    cursor: pointer;
    user-select: none;
}

input.switch:empty ~ label:before,
input.switch:empty ~ label:after {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    content: ' ';
    width: 3.6em;
    background-color: #FFFFFF;
    border-radius: 0.3em;
    box-shadow: inset 0 0.2em 0 rgba(0,0,0,0.1);
    transition: all 100ms ease-in;
}

input.switch:empty ~ label:after {
    width: 1.4em;
    top: 0.1em;
    bottom: 0.1em;
    margin-left: 0.1em;
    background-color: #27AE60;

}

input.switch:checked ~ label:before {
    background-color: #2DC86E;
}

input.switch:checked ~ label:after {
    margin-left: 2em;
}

#hiddenToggle {
    margin-bottom: 50px;
}
