@keyframes wobblebar {
  0% {
    left: 5%;
  }

  3% {
    left: 95%;
  }

  6% {
    left: 5%;
  }

  9% {
    left: 95%;
  }

  12% {
    left: 25%;
  }

  15% {
    left: 75%;
  }

  18% {
    left: 25%;
  }

  27% {
    left: 5%;
  }

  30% {
    left: 95%;
  }

  33% {
    left: 5%;
  }

  36% {
    left: 95%;
  }

  39% {
    left: 25%;
  }

  42% {
    left: 75%;
  }

  45% {
    left: 25%;
  }

  48% {
    left: 5%;
  }

  51% {
    left: 95%;
  }

  63% {
    left: 5%;
  }

  66% {
    left: 95%;
  }

  69% {
    left: 25%;
  }

  72% {
    left: 75%;
  }

  75% {
    left: 25%;
  }

  78% {
    left: 5%;
  }

  81% {
    left: 95%;
  }

  84% {
    left: 5%;
  }

  94% {
    left: 75%;
  }

  97% {
    left: 25%;
  }
}

/* Styles for old versions of IE */
.wobblebar {
  font-family: sans-serif;
  font-weight: 100;
}

/* :not(:required) hides this rule from IE9 and below */
.wobblebar:not(:required) {
  background: #999;
  display: inline-block;
  overflow: hidden;
  text-indent: -9999px;
  width: 100%;
  height: 10px;
  position: relative;
}
.wobblebar:not(:required)::after {
  animation: wobblebar 15000ms infinite ease;
  background: white;
  border-radius: 5px;
  display: block;
  content: '';
  position: absolute;
  top: 3.55556px;
  left: 4px;
  width: 21.33333px;
  height: 5px;
}
