
.icon-spin2:before { content: '\e800'; } /* '' */
.icon-cancel-circled:before { content: '\e801'; } /* '' */
.icon-info:before { content: '\e802'; } /* '' */
.icon-eye:before { content: '\e803'; } /* '' */
.icon-help:before { content: '\e804'; } /* '' */
.icon-right-open:before { content: '\e805'; } /* '' */
.icon-left-open:before { content: '\e806'; } /* '' */
.icon-ok-circled:before { content: '\e807'; } /* '' */
.icon-ok:before { content: '\e808'; } /* '' */
.icon-picture:before { content: '\e809'; } /* '' */
.icon-video:before { content: '\e80a'; } /* '' */
.icon-user:before { content: '\e80b'; } /* '' */
.icon-videocam:before { content: '\e80c'; } /* '' */
.icon-lock:before { content: '\e80d'; } /* '' */
.icon-doc:before { content: '\e80e'; } /* '' */
.icon-heart:before { content: '\e80f'; } /* '' */
.icon-search:before { content: '\e810'; } /* '' */
.icon-cog:before { content: '\e811'; } /* '' */
.icon-ok-1:before { content: '\e812'; } /* '' */